.PhoneInput{
    display: flex;
    gap: 1rem;
}
.PhoneInput .PhoneInputCountry {
    display: flex;
    margin-top: 0.2rem;
}
.PhoneInput select {
    width: 30px;
    height: 22px;
    position: absolute;
    outline: none;
    color: black;
    opacity: 0;
    cursor: pointer;
    @media (max-width: 500px){
        width: 20px;
        height: 11;
    }
}
.PhoneInput .PhoneInputCountryIconImg{
    width: 30px;
    margin-top: 0.1rem;
    @media (max-width: 500px){
        width: 20px;
    }
}
.PhoneInput input{
    outline: none;
    border: none;
    font-family: 'Lexend';
    @media (max-width: 500px){
        font-size: 1.063rem;
    }
}
.constant-placeholders{                  
    background: #FFFFFF;
    border: 0.063rem solid #DEDEDE;
    transition: border-color 0.3s ease;
    border-radius: 0.313rem;
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
    padding-left: 1.25rem;
    max-width: 28.688rem;
    padding-right: 1rem;
    width: 100%;
    &__label{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        line-height: 1rem;
        outline: none;
        border: 2px solid white;
        letter-spacing: -0.02em;
        color: #6E768A;
        transition: transform 0.3s ease;
        @media (max-width: 500px){
            line-height: unset;
            padding-bottom: 0;
        }
    }
    &__input-two{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        display: block;
        outline: none;
        border: 2px solid white;
        line-height: 1.313rem;
        letter-spacing: -0.02em;
        transition: all ease-in-out 0.3s;
        color: #1E1E1E;
        display: none;
        cursor: text;
        width: 100%;
    }
    &__input-two::placeholder{
        color: rgba(222, 222, 222, 1);
    }
    // &__error{
    //     display: none;
    //     color: red;
    //     padding: 0.313rem;
    //     padding-left: 0;
    //     padding-bottom: 0;
    //     font-size: 1rem;
    //     font-family: 'Lexend';
    // }
   
}
.show-content2{
    @media (max-width: 500px){
        padding-top: 1rem;
        padding-bottom: 0.938rem;
    }
}

.show-content2__input-two{
    display: block;
    transition: ease-in-out 0.3s;
    @media (max-width: 500px){
        font-size: 1.063rem;
    }
}

.show-content2__label{
    transform: translateY(-0.313rem);
    font-size: 0.813rem;
    @media (max-width: 500px){
        transform: translateY(-0.19rem);
    }
}