.PhoneInput{
    display: flex;
    gap: 0.7rem;
}
.PhoneInput .PhoneInputCountry {
    display: flex;
    margin-top: 0.2rem;
}
.PhoneInput select {
    width: 20px;
    height: 22px;
    position: absolute;
    outline: none;
    color: black;
    opacity: 0;
    cursor: pointer;
    @media (max-width: 500px){
        width: 20px;
        height: 11;
    }
}
.PhoneInput .PhoneInputCountryIconImg{
    width: 20px;
    margin-top: 0.1rem;
    @media (max-width: 500px){
        width: 20px;
    }
}
.PhoneInput input{
    outline: none;
    border: none;
    background: none;
    font-family: 'Lexend';
    color: white;
    @media (max-width: 500px){
        font-size: 1.063rem;
    }
}

.place{                  
    background: #0B88DF;
    border: 0.063rem solid #DEDEDE;
    transition: border-color 0.3s ease;
    border-radius: 0.313rem;
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
    padding-left: 1.25rem;
    max-width: 28.688rem;
    padding-right: 1rem;
    width: 100%;
    cursor: pointer;
    &__label{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        line-height: 1rem;
        outline: none;
        border: none;
        letter-spacing: -0.02em;
        color: #D7EEFF;
        transition: transform 0.3s ease;
        @media (max-width: 500px){
            line-height: unset;
            padding-bottom: 0;
        }
    }
    &__input-one{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        display: block;
        outline: none;
        background: #0B88DF;
        border: 2px solid white;
        line-height: 1.313rem;
        letter-spacing: -0.02em;
        transition: all ease-in-out 0.3s;
        color: #1E1E1E;
        display: none;
        cursor: text;
        width: 100%;
        @media (max-width: 500px){
            line-height: unset;
        }
    }
    &__input-one::placeholder{
        color: white;

    }
    // &__error{
    //     display: none;
    //     color: red;
    //     padding: 0.313rem;
    //     padding-left: 0;
    //     padding-bottom: 0;
    //     font-size: 1rem;
    //     font-family: 'Lexend';
    // }
   
}


.initials{
    padding-top: 1rem;
    padding-bottom: 0.938rem;
    @media (max-width: 500px){
        padding-top: 1rem;
        padding-bottom: 0.938rem;
    }
}

.initials__input-one{
    display: block;
    transition: ease-in-out 0.3s;
    @media (max-width: 500px){
        font-size: 1.063rem;
    }
}

.initials__label{
    transform: translateY(-0.313rem);
    font-size: 0.813rem;
    @media (max-width: 500px){
        transform: translateY(-0.19rem);
    }
}

// .hide-element{
//     padding-top: 1.625rem;
//     padding-bottom: 1.625rem;
//     transition: padding 0.5s ease-in-out;
//     @media (max-width: 500px){
//         padding-top: 1rem;
//         padding-bottom: 0.938rem;
//     }
// }

// .hide-element__input-one{
//     display: none;
//     transition: display 0.5s ease;
//     @media (max-width: 500px){
//         font-size: 1.963rem;
//     }
// }

// .hide-element__label{
//     transform: translateY(0.313rem);
//     font-size: 1.063rem;
//     @media (max-width: 500px){
//         transform: translateY(0.19rem);
//     }
// }