.constant-placeholder{                  
    background: #FFFFFF;
    border: 0.063rem solid #DEDEDE;
    transition: border-color 0.3s ease;
    border-radius: 0.313rem;
    padding-top: 1.625rem;
    padding-bottom: 1.625rem;
    padding-left: 1.25rem;
    max-width: 28.688rem;
    padding-right: 1rem;
    width: 100%;
    @media (max-width: 500px){
        padding-top: 1.625rem;
        padding-bottom: 1.625rem;
        padding-left: 1.25rem;
    }
    &__label{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        line-height: 1rem;
        outline: none;
        border: 2px solid white;
        letter-spacing: -0.02em;
        color: #6E768A;
        transition: transform 0.3s ease;
        @media (max-width: 500px){
            line-height: unset;
            padding-bottom: 0;
            font-size: 0.813rem;
        }
    }
    &__input-one{
        font-family: 'Lexend';
        font-weight: 400;
        font-size: 1.063rem;
        display: block;
        outline: none;
        border: 2px solid white;
        line-height: 1.313rem;
        letter-spacing: -0.02em;
        transition: all ease-in-out 0.3s;
        color: #1E1E1E;
        display: none;
        cursor: text;
        width: 100%;
        @media (max-width: 500px){
            line-height: unset;
            font-size: 1.063rem;
        }
    }
    &__input-one::placeholder{
        color: rgba(222, 222, 222, 1);

    }
    // &__error{
    //     display: none;
    //     color: red;
    //     padding: 0.313rem;
    //     padding-left: 0;
    //     padding-bottom: 0;
    //     font-size: 1rem;
    //     font-family: 'Lexend';
    // }
   
}


.show-contents{
    padding-top: 0.938rem;
    padding-bottom: 1rem;
    @media (max-width: 500px){
        padding-top: 1.625rem;
        padding-bottom: 1.625rem;
        padding-left: 1.25rem;
    }
}

.show-contents__input-one{
    display: block;
    transition: ease-in-out 0.3s;
    @media (max-width: 500px){
        font-size: 1.063rem;
    }
}

.show-contents__label{
    transform: translateY(-0.313rem);
    font-size: 0.813rem;
    @media (max-width: 500px){
        transform: translateY(-0.19rem);
    }
}