
.Home-page{
    width: 100%;
    margin: auto;
    &__container{
        margin: 0 auto;
        max-width: 120rem;
    }

    .top{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 3.313rem;
        justify-content: space-between;
        padding-left: 6.366rem;
        padding-right: 6.287rem;
        @media (max-width: 1024px){
            padding-left: 2.366rem;
            padding-right: 2.287rem;
        }
        @media (max-width: 768px){
            padding-left: 1rem;
            padding-right: 1rem;
        }
        @media(max-width: 490px){
            justify-content: space-between;
            align-items: center;
            margin-top: unset;
            padding-top: 4.5rem;
        }
    
    
        &__logo{
            @import url("https://api.fontshare.com/v2/css?f[]=stardom@400&display=swap");
            font-family: 'Stardom', sans-serif;
            color: #1E1E1E;
            font-size: 2.3rem;
            text-align: center;
            @media (max-width: 768px){
                font-size: 2rem;
            }
            @media(max-width: 490px){
                font-size: 2.1rem;
            }
        }
    
        &__navbar{
            @import url('https://fonts.googleapis.com/css?family=Lexend');
            font-family: 'Lexend', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            display: flex;
            gap: 3rem;
            text-align: center;
            @media (max-width: 768px){
                gap: 1rem;
            }
    
            @media(max-width: 650px){
                font-size: 0.8rem;
            }
    
            @media(max-width: 545px){
                display: none;
            }

            &__link{
                color: #0B88DF;
            }
    
            p:active, p:hover, p:focus, p:visited{
                cursor: pointer;
                color: #0B88DF;
            }
        }
    
        &__GoNow{
            @import url('https://fonts.googleapis.com/css?family=DM Sans');
            font-family: 'DM Sans', sans-serif;
            font-weight: 500;
            font-size: 1rem;
            background-color: #1E1E1E;
            color:#FFFFFF;
            border-radius: 5px;
            padding: 1.094rem 4.063rem;   
    
            @media (max-width: 768px){
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #1E1E1E;
                color:#FFFFFF;
                max-width: 4rem;
                height: 3rem;
                font-size: 1rem;
            }
    
            @media(max-width: 545px){
                display: none;
            }
            
        }
    
        .top-panel__menu-button {
            @media (max-width: 545px){
                display: inline-block;
            }
    
            @media(min-width: 545px){
                display: none;
            }
        }
          
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 127px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            right: 0;
            z-index: 1;

            p:active, p:hover, p:focus, p:visited{
                cursor: pointer;
                color: #0B88DF;
            }

        }
        .dropdown-content__one{
            color:#0B88DF;
        }
          
        .dropdown-content p {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
          
        .dropdown-content p:hover {background-color: #ddd}
          
        .top-panel__menu-button:hover .dropdown-content {
            display: block;
        }
    
        .menu{
            width: 24px;
            height: 24px;
        }
    }


    .description{
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5.5rem;
        margin-bottom: 11.25rem;
        padding-left: 6.375rem;
        padding-right: 6.404rem;
        @media (max-width: 1500px){
            padding-left: 3.375rem;
            padding-right: 3.375rem;
        }
        @media (max-width: 1400px){
            padding-left: 6.375rem;
            padding-right: 6.404rem;
        }
        @media (max-width: 1140px){
            padding-left: 3.375rem;
            padding-right: 3.375rem;
        }
        @media (max-width: 900px){
            padding: 0 2rem;
        }
        @media (max-width: 600px){
            padding: 0 1rem;
        }
        @media(max-width: 621px){
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0rem;
            margin-bottom: 7.5rem;
        }


        .image-mobile{
            width: 21.654rem;
            height: 232px;
            margin-bottom: 0.771rem;
            margin-top: 1.861rem;
            @media(min-width: 621px){
                display: none;
            }
            @media(max-width: 390px){
                max-width: 22.375rem;
                height: 13.923rem;
                width: 100%;
            }
        }

        &__info{
            @media (max-width: 425px){
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
            }

            &__one{
                color: #212127;
                font-weight: 400;
                font-size: 4.375rem;
                margin-bottom: 1.563rem;
                font-family: 'Stardom';
                line-height: 5.063rem;
                max-width: 28.313rem;
                @media (max-width: 1300px){
                    font-size: 3.375rem;
                    max-width: 30rem;
                    line-height: 4.375rem;
                }
                @media(max-width: 960px){
                    font-size: 2rem;
                    line-height: 3rem;
                    max-width: 20rem;
                }
                @media(max-width: 732px){
                    margin-bottom: 0.7rem;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    max-width: 15rem;
                    font-weight: 600;
                }

                @media(max-width: 620px){
                    font-weight: unset;
                    font-family: 'Stardom';
                    font-weight: 400;
                    font-size: 2.5rem;
                    line-height: 3.188rem;
                    margin-bottom: 0.938rem;
                    letter-spacing: -0.03em;
                    max-width: 22.375rem;
                    color: #212127;
                }

                @media(max-width: 390px){
                    font-family: 'Stardom';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 2.5rem;
                    line-height: 3.188rem;
                    margin-bottom: 0.938rem;
                    letter-spacing: -0.03em;
                    max-width: 22.375rem;
                    color: #212127;

                }

            }

            &__two{
                @import url('https://fonts.googleapis.com/css?family=Lexend');
                font-family: 'Lexend', sans-serif;
                font-weight: 400;
                font-size: 1.25rem;
                max-width: 26.188rem;
                color: #3F464A;
                line-height: 1.875rem;
                @media (max-width: 1300px){
                    max-width: 20.188rem;
                }
                @media (max-width: 960px){
                    max-width: 19.188rem;
                    font-size: 1rem;
                }
                @media (max-width: 732px){
                    max-width: 15.188rem;
                }
                @media (max-width: 700px){
                    line-height: 1.3rem;
                    max-width: 12.188rem;
                    font-size: 0.8rem;
                }
                @media(max-width: 620px){
                    font-family: 'Lexend';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.25rem;
                    line-height: 1.813rem;
                    max-width: 22.375rem;
                    width: 100%;
                    letter-spacing: -0.03em;
                    color: #3F464A;
                }

            }
        }

        .image{
            @media(max-width: 1400px){
                max-width: 60%;
            }

            @media(max-width: 1200px){
                width: 42rem;
            }
            @media(max-width: 1140px){
                width: 35rem;
            }

            @media(max-width: 1030px){
                width: 30rem;
                
            }

            @media(max-width: 900px){
                width: 26rem;
            }

            @media(max-width: 790px){
                width: 23rem;
            }

            @media(max-width: 650px){
                width: 20rem;
            }

            @media(max-width: 620px){
                display: none;
            }
        }
    }

    .get-started{
        display: flex;
        gap: 5.563rem;
        background-color: #1E1E1E;
        justify-content: space-between;
        padding-right: 11.313rem;
        color: #FFFFFF;
        @media (max-width: 1400px){
            padding-right: 7.313rem;
        }
        @media (max-width: 1300px){
            padding-right: 3.313rem;
        }
        @media (max-width: 1000px){
            gap: 2.563rem;
        }
        @media (max-width: 860px){
            padding-bottom: 3.125rem;
        }
        @media (max-width: 800px){
            padding-right: 1.313rem;
        }

        @media(max-width: 621px){
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-right: 0;
            gap: 0;
        }
        @media(max-width: 570px){
            gap: 2rem;
        }
        @media(max-width: 510px){
            gap: 1rem;
        }
        @media(max-width: 475px){
            padding-bottom: 0;
            padding: 1rem;
        }

        &__image{
            border-radius: 0.125rem;
            margin-top: -5rem;
            padding-bottom: 3.3875rem;
            padding-left: 9.25rem;
            @media (max-width: 1300px){
                padding-left: 4.25rem;
            }

            @media(max-width: 1000px){
                // width: 300px;
                // height: 500px;
                max-width: 31.25rem;
                padding-left: 3rem;
            }
            @media (max-width: 800px){
                padding-bottom: 1rem;
                padding-left: 1rem;
            }

            // @media(max-width: 900px){
            //     width: 280px;
            //     height: 480px;
            // }

            // @media(max-width: 760px){
            //     width: 270px;
            //     height: 480px;
            //     margin-top: -3rem;
            // }

            // @media(max-width: 650px){
            //     padding-left: 2rem;
            // }

            @media(max-width: 620px){
                display: none;
            }

            &__two{
                margin-bottom: 0rem;
                margin-top: -2.9rem;
                margin-bottom: 2.125rem;

                @media(min-width: 621px){
                    display: none;
                }

                @media(max-width: 360px){
                    width: 19rem;
                }
            }
        }

        &__text{
            width: 100%;
            @media (max-width: 620px){
                margin: 0 auto;
                width: unset;
            }
            &__step{
                @import url('https://api.fontshare.com/v2/css?f[]=stardom@400&display=swap');
                font-family: 'Stardom';
                font-weight: 400;
                font-size: 3.125rem;
                margin-top: 4.438rem;
                line-height: 61px;
                max-width: 20.375rem;
                @media (max-width: 860px){
                    font-size: 1.5rem;
                    line-height: 2rem;
                    margin-top: 1.438rem;
                }
                @media(max-width: 620px){
                    font-size: 2.5rem;
                    margin-top: 0.8rem;
                    line-height: 47px;
                }
                &__one{
                    max-width: 22rem;

                    @media(max-width: 360px){
                        max-width: 20rem;
                    }
                }
                &__two{
                    max-width: 22rem;

                    @media(max-width: 360px){
                        max-width: 20rem;
                    }
                }
                &__three{
                    max-width: 22rem;

                    @media(max-width: 360px){
                        max-width: 20rem;
                    }
                }
            }
            &__steps{
                display: flex;
                flex-direction: row;
                @import url('https://fonts.googleapis.com/css?family=Lexend');
                font-family: 'Lexend', sans-serif;
                font-size: 1.25rem;
                font-weight: 400;
                justify-content: space-between;
                color: #A5B0B6;
                margin-top: 1.511rem;
                @media (max-width: 1132px){
                    justify-content: unset;
                    gap: 1rem;
                }
                @media (max-width: 860px){
                    flex-direction: column;
                }
                &__content{
                    max-width: 12.5rem;
                    @media (max-width: 1000px){
                        max-width: 10rem;
                    }
                    @media (max-width: 1000px){
                        max-width: 12.5rem;
                    }
                    @media (max-width: 500px){
                        max-width: fit-content;
                    }
                }
                &__content1{
                    max-width: 12.5rem;
                    @media (max-width: 1132px){
                        max-width: 10.5rem;
                    }
                    @media (max-width: 1000px){
                        max-width: 12rem;
                    }
                    @media (max-width: 800px){
                        max-width: 100%;
                    }
                    @media (max-width: 500px){
                        max-width: fit-content;
                    }
                }
                &__images1{
                    margin-bottom: 1.438rem;
                    @media (max-width: 800px){
                        margin-bottom: 0.5rem;
                    }
                }
                &__images2{
                    margin-bottom: 1.438rem;
                    @media (max-width: 800px){
                        margin-bottom: 0.5rem;
                    }
                }
                &__images3{
                    margin-bottom: 1.438rem;
                    @media (max-width: 800px){
                        margin-bottom: 0.5rem;
                    }
                }

                @media(max-width: 620px){
                    display: flex;
                    flex-direction: column;
                    font-size: 1.25rem;
                    gap:1rem;
                }

                &__one{
                    font-family: 'Lexend';
                    line-height: 1.875rem;
                    @media (max-width: 1180px){
                        font-size: 1rem;
                        line-height: 1.375rem;
                    }
                    @media (max-width: 390px){
                        font-weight: 400;
                        font-size: 1.25rem;
                        line-height: 1.875rem;
                    }
                }
                &__two{
                    font-family: 'Lexend';
                    line-height: 1.875rem;
                    @media (max-width: 1180px){
                        font-size: 1rem;
                        line-height: 1.375rem;
                    }
                    @media (max-width: 390px){
                        font-weight: 400;
                        font-size: 1.25rem;
                        line-height: 1.875rem;
                        width: 100%;
                        letter-spacing: -0.03em;
                        font-family: 'Lexend';
                        max-width: 22.375rem;
                    }
                }
                &__three{
                    font-family: 'Lexend';
                    line-height: 1.875rem;
                    @media (max-width: 1180px){
                        font-size: 1rem;
                        line-height: 1.375rem;
                    }
                    @media (max-width: 500px){
                        margin-bottom: 5.5rem;
                    }
                    @media (max-width: 390px){
                        font-weight: 400;
                        font-size: 1.25rem;
                        line-height: 1.875rem;
                    }
                }

                &__images1{
                    @media (max-width: 390px){
                        margin-bottom: 1.198rem;
                    }
                }
                &__image2{
                    @media (max-width: 390px){
                        margin-bottom: 0.813rem;
                    }
                }
                &__image3{
                    @media (max-width: 390px){
                        margin-bottom: 0.813rem;
                    }
                }
            }
        }
    }
    .form{
        width: 100%;
        /* margin: 0 auto; */
        background-color: #0B88DF;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        padding-left: 9.25rem;
        padding-right: 11.375rem;
        /* gap: 9.813rem; */
        justify-content: space-between;
        @media (max-width: 1440px){
            padding-left: 5.25rem;
            padding-right: 6.375rem;
        }
        @media (max-width: 1300px){
            padding-left: 2.5rem;
            padding-right: 3.375rem;
        }
        @media(max-width: 900px){
            padding-left: 1rem;
            padding-right: 1rem;
            gap: 2rem;
        }
        @media(max-width: 768px){
            width: 100%;
            margin: 0 auto;
            display: flex;
            gap: 0rem;
            flex-direction: column;
            padding: 0 1rem;
            justify-content: center;
        }
        

        &__images{
            margin-top: 3rem;
            margin-bottom: 3rem;
            @media (max-width: 1200px){
                max-width: 31.25rem;
            }
            @media (max-width: 956px){
                max-width: 25rem;
                height: 37.5rem;
            }
            @media(max-width: 860px){
                max-width: 390px;
            }

            @media(max-width: 775px){
                max-width: 340px;
            }
            @media(max-width: 768px){
                display: none;
            }


            &__two{
                display: none;
                @media (max-width: 768px){
                    display: block;
                    max-width: 20.5rem;
                    margin: auto;
                    margin-top: 2.75rem;
                    margin-bottom: 2.125rem;
                }

                @media(max-width: 360px){
                    margin-bottom: 2.147rem;
                    max-width: 19rem;
                }
            }
        }

        &__info{
            @media (max-width: 768px){
                max-width: 22.3rem;
                margin: auto;
            }
            &__big{
                margin-top: 3.125rem;
                font-weight: 400;
                font-size: 4.375rem;
                margin-bottom: 0.625rem;
                line-height: 5.063rem;
                letter-spacing: -0.03em;
                font-family: 'Stardom';
                @media(max-width: 1300px){
                    font-size: 3rem;
                }

                @media(max-width: 960px){
                    font-size: 2.2rem;
                }
                @media (max-width: 768px){
                    font-size: 3.2rem;
                    font-family: "Stardom";
                    margin-bottom: 1.25rem;
                    line-height: 3.25rem;
                    letter-spacing: -0.03em;
                    margin-top: 0;
                    font-size: 2.5rem;
                }

                @media(max-width: 645px){
                    font-family: 'Stardom';
                    margin-bottom: 1.25rem;
                    line-height: 3.25rem;
                    letter-spacing: -0.03em;
                    margin-top: 0;
                    font-size: 2.5rem;
                }
            }
            &__small{
                font-family: 'Lexend', sans-serif;
                font-weight: 400;
                font-size: 1.25rem;
                max-width: 26.063rem;
                margin-bottom: 2.438rem;

                @media(max-width: 1055px){
                    max-width: 22rem;
                }

                @media(max-width: 960px){
                    font-size: 0.9rem;
                }

                @media(max-width: 768px){
                    font-size: 1.25rem;
                }

                @media(max-width: 390px){
                    font-family: 'Lexend';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.25rem;
                    line-height: 1.875rem;
                    margin-bottom: 2.375rem;
                    letter-spacing: -0.03em;
                }
            }

            &__details{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                color:#FFFFFF;
                background-color: #0B88DF;

                &__button{
                    background-color: #1E1E1E;
                    color: #FFFFFF;
                    border-radius: 0.313rem;
                    padding: 1.094rem 4.063rem;   
                    font-family: DM Sans;
                    font-size: 1rem;
                    font-weight: 500;
                    @import url('https://fonts.googleapis.com/css?family=DM Sans');
                    font-family: 'DM Sans', sans-serif;
                    margin-bottom: 6.063rem;
                    max-width: 11.938rem;

                    @media(max-width: 900px){
                        max-width: 6rem;
                        padding: 1rem 1rem;
                    }

                    @media(max-width: 768px){
                        max-width: 22.3rem;
                        text-align: center;
                    }

                    @media(max-width: 360px){
                        max-width: 20rem;
                        margin-bottom: 4.313rem;
                    }
                }

                #full-name::placeholder{
                    color: red;
                }

                .full-name{
                    background-color: #0B88DF;
                    color:#FFFFFF;
                    border: 1px solid #DEDEDE;
                    border-radius: 5px;
                    outline: none;
                    max-width: 28.688rem;
                    font-family: 'Lexend';
                    height: 4.5625rem;
                    padding: 1rem;

                    @media(max-width: 1055px){
                        max-width: 26rem;
                    }

                    @media(max-width: 900px){
                        max-width: 20rem;
                    }

                    @media(max-width: 768px){
                        max-width: 22.3rem;
                    }

                    @media(max-width: 360px){
                        max-width: 20rem;
                    }
                }

                .phone-number{
                    background-color: #0B88DF;
                    color:#FFFFFF;
                    border: 1px solid #DEDEDE;
                    border-radius: 5px;
                    outline: none;
                    max-width: 28.688rem;
                    height: 4.5625rem;
                    padding: 1rem;

                    @media(max-width: 1055px){
                        max-width: 26rem;
                    }

                    @media(max-width: 900px){
                        max-width: 20rem;
                    }

                    @media(max-width: 685px){
                        max-width: 22.3rem;
                    }

                    @media(max-width: 360px){
                        max-width: 20rem;
                    }
                }

                .email{
                    background-color: #0B88DF;
                    color:#FFFFFF;
                    border: 1px solid #DEDEDE;
                    border-radius: 5px;
                    outline: none;
                    max-width: 28.688rem;
                    height: 4.5625rem;
                    padding: 1rem;

                    @media(max-width: 1055px){
                        max-width: 26rem;
                    }

                    @media(max-width: 900px){
                        max-width: 20rem;
                    }

                    @media(max-width: 685px){
                        max-width: 22.3rem;
                    }

                    @media(max-width: 360px){
                        max-width: 20rem;
                    }
                }

                .education-level{
                    background-color: #0B88DF;
                    color:#FFFFFF;
                    border: 1px solid #DEDEDE;
                    border-radius: 5px;
                    font-family: 'Lexend';
                    outline: none;
                    max-width: 28.688rem;
                    height: 4.5625rem;
                    padding: 1rem;

                    @media(max-width: 1055px){
                        max-width: 26rem;
                    }

                    @media(max-width: 900px){
                        max-width: 20rem;
                    }

                    @media(max-width: 768px){
                        max-width: 22.3rem;
                    }

                    @media(max-width: 360px){
                        max-width: 20rem;
                    }
                }
            }
        }
    }

    // .footer{
    //     width: 100%;
    //     margin: 0 auto;
    //     padding-top: 5.438rem;
    //     padding-bottom: 5rem;
    //     margin: auto;
    //     @media (max-width: 390px){
    //         padding-bottom: 0;
    //     }
    //     &__top{
    //         /*width: 100%;
    //         margin: 0 auto;*/
    //         display: flex;
    //         justify-content: space-between;
    //         padding: 0 6.25rem;
    //         /*flex-direction: row;
    //         justify-content: space-around;
    //         /*gap: 10.438rem;
    //         justify-content: center;*/
    //         @media (max-width: 1124px){
    //             padding: 0 2.25rem;
    //         } 
    //         @media(max-width: 832px){
    //             flex-direction: column;
    //             padding: 0 1rem;
    //         } 
    //         &__about{
    //             &__logo{
    //                 @import url("https://api.fontshare.com/v2/css?f[]=stardom@400&display=swap");
    //                 font-family: 'Stardom', sans-serif;
    //                 color: #1E1E1E;
    //                 font-size: 2.3rem;

    //                 @media(max-width: 700px){
    //                     font-size: 2rem;
    //                 }

    //                 @media(max-width: 580px){
    //                     font-size: 1.8rem;
    //                 } 
    //             }

    //             &__description{
    //                 margin-top: 1.238rem;
    //                 max-width: 22.313rem;
    //                 color: #3F464A;
    //                 @import url('https://fonts.googleapis.com/css?family=Lexend');
    //                 font-family: 'Lexend', sans-serif;
    //                 font-weight: 400;
    //                 font-size: 1rem;
    //                 line-height: 1.438rem;

    //                 @media(max-width: 890px){
    //                     max-width: 18rem;
    //                 }

    //                 @media(max-width: 700px){
    //                     max-width: 15rem;
    //                     margin-top: 0.9rem;
    //                     font-size: 0.8rem;
    //                 }

    //                 @media(max-width: 832px){
    //                     font-size: 1rem;
    //                     max-width: 22.25rem;
    //                     margin-bottom: 3.75rem;
    //                 }

    //                 @media(max-width: 390px){
    //                     font-family: 'Lexend';
    //                     font-style: normal;
    //                     font-weight: 400;
    //                     font-size: 1rem;
    //                     line-height: 1.438rem;
    //                     letter-spacing: -0.03em;
    //                     max-width: unset;
    //                     color: #3F464A;
    //                 } 

    //             }
    //         }

    //         &__options-one{
    //             color: #3F464A;
    //             @import url('https://fonts.googleapis.com/css?family=Lexend');
    //             font-family: 'Lexend', sans-serif;
    //             font-weight: 400;
    //             font-size: 1.188rem;
    //             line-height: 3.125rem;
                
    //             p{
    //                 font-family: 'Lexend';
    //                 font-style: normal;
    //                 font-weight: 400;
    //                 font-size: 1.188rem;
    //                 letter-spacing: -0.03em;
    //                 color: #3F464A;
    //                 @media (max-width: 1000px){
    //                     font-size: 1rem;
    //                 }
    //             }

    //             @media(max-width: 810px){
    //                 font-size: 0.9rem;
    //             } 

    //             @media(max-width: 620px){
    //                 font-size: 1.25rem;
    //                 align-items: flex-start;
    //             } 
    //             @media (max-width: 425px){
    //                 display: flex;
    //                 flex-direction: column;
    //                 gap: 2rem;
    //                 margin-bottom: 2rem;
    //             }

    //         }

    //         &__options-two{
    //             @import url('https://fonts.googleapis.com/css?family=Lexend');
    //             font-family: 'Lexend', sans-serif;
    //             font-weight: 400;
    //             color: #3F464A;
    //             font-size: 1.188rem;
    //             line-height: 3.125rem;
    //             margin-bottom: 2.375rem;
    //             @media(max-width: 810px){
    //                 font-size: 0.9rem;
    //             }
    //             p{
    //                 font-family: 'Lexend';
    //                 font-style: normal;
    //                 font-weight: 400;
    //                 font-size: 1.188rem;
    //                 letter-spacing: -0.03em;
    //                 color: #3F464A;
    //                 @media (max-width: 1000px){
    //                     font-size: 1rem;
    //                 }
    //             }

    //             @media(max-width: 620px){
    //                 font-size: 1.25rem;
    //                 align-items: flex-start;
    //             } 
    //             @media (max-width: 425px){
    //                 display: flex;
    //                 flex-direction: column;
    //                 gap: 2rem;
    //             }
    //         }

    //         &__options-three{
    //             color: #3F464A;
    //             @import url('https://fonts.googleapis.com/css?family=Lexend');
    //             font-family: 'Lexend', sans-serif;
    //             font-weight: 400;
    //             font-size: 1.25rem;
    //             line-height: 1.563rem;

    //             &__contact{
    //                 margin-bottom: 2.75rem;
    //                 margin-top: 1rem;
    //                 &__footer-email{
    //                     display: flex;
    //                     flex-direction: row;
    //                     gap: 1.938rem;
    //                     margin-bottom: 1.688rem;
    //                     color: #3F464A;
    //                     @import url('https://fonts.googleapis.com/css?family=Lexend');
    //                     font-family: 'Lexend', sans-serif;
    //                     font-size: 1.25rem;
    //                     font-weight: 400;

    //                     @media(max-width: 810px){
    //                         font-size: 1rem;
    //                         gap: 0.9rem;
    //                     }

    //                     @media(max-width: 650px){
    //                         font-size: 0.9rem;
    //                         gap: 0.6rem;
    //                     }

    //                     @media(max-width: 1000px){
    //                         font-size: 1rem;
    //                         gap: 1rem;
    //                         margin-bottom: 1.563rem;
    //                     } 
    //                     p{
    //                         font-size: 1.188rem;
    //                         @media (max-width: 1000px){
    //                             font-size: 1rem;
    //                         }
    //                     }
    //                     &__icon{
    //                         width: 19px;
    //                         height: 20px;
    //                         @media(max-width: 500px){
    //                             width: 24px;
    //                             height: 25px;
    //                         } 
    //                     }
    //                 }

    //                 &__footer-contact{
    //                     display: flex;
    //                     flex-direction: row;
    //                     gap: 1.938rem;
    //                     color: #3F464A;
    //                     @import url('https://fonts.googleapis.com/css?family=Lexend');
    //                     font-family: 'Lexend', sans-serif;
    //                     font-size: 1.25rem;
    //                     font-weight: 400;

    //                     @media(max-width: 810px){
    //                         font-size: 1rem;
    //                         gap: 1rem;
    //                     }

    //                     @media(max-width: 650px){
    //                         font-size: 0.9rem;
    //                         gap: 0.6rem;
    //                     }

    //                     @media(max-width: 1000px){
    //                         font-size: 1.25rem;
    //                         margin-bottom: 1.5rem;
    //                         gap: 1rem;
    //                     } 
    //                     p{
    //                         font-size: 1.188rem;
    //                         @media (max-width: 1000px){
    //                             font-size: 1rem;
    //                         }
    //                     }

    //                     &__icon{
    //                         width: 19px;
    //                         height: 20px;
    //                         @media(max-width: 500px){
    //                             width: 24px;
    //                             height: 25px;
    //                         } 
    //                     }
    //                 }
    //             }

    //             &__socials{
    //                 display: flex;
    //                 @media(max-width: 832px){
    //                     flex-direction: column;
    //                     gap:1.226rem;
    //                 }
    //                 &__icon{
    //                     margin-left: 0;
    //                 }
    //                 &__text{
    //                     color: #3F464A;
    //                     @import url('https://fonts.googleapis.com/css?family=Lexend');
    //                     font-family: 'Lexend', sans-serif;
    //                     font-size: 1.25rem;
    //                     font-weight: 400;
    //                     margin-right: 1.438rem;

    //                     @media(max-width: 810px){
    //                         font-size: 1rem;
    //                     }

    //                     @media(max-width: 650px){
    //                         font-size: 0.9rem;
    //                     }

    //                     @media(max-width: 620px){
    //                         font-size: 1.25rem;
    //                     }
    //                 }
    //                 &__handles{
    //                     display: flex;
    //                     flex-direction: row;
    //                     gap: 0.625rem;
    //                     @media(max-width: 810px){
    //                         gap: 0.3rem;
    //                     }
    //                     @media(max-width: 650px){
    //                         gap: 0.2rem;
    //                     }
    //                     &__main{
    //                         &__icons{
    //                             @media (max-width: 832px){
    //                             display: none;
    //                             }
    //                         }
    //                     }
    //                     &__main1{
    //                         display: none;
    //                         @media (max-width: 832px){
    //                             display: flex;
    //                             gap: 1.226rem;
    //                             margin-top: 1rem;
    //                         }
    //                     }
    //                     // &__icons{
    //                     //     width: 20px;
    //                     //     height: 20px;
    //                     //     @media(max-width: 620px){
    //                     //         display: none;
    //                     //     } 
    //                     // }
    //                     // &__icon{
    //                     //     margin-left: 1rem;
    //                     //     @media(min-width: 621px){
    //                     //         display: none;
    //                     //     }
    //                     // }
    //                 }
    //             }
    //         }
    //     } 

    //     .copyright{
    //         display: flex;
    //         text-align: center;
    //         justify-content: center;
    //         align-items: center;
    //         margin-top: 4.375rem;
    //         margin-bottom: 2.188rem;
    //         color: #3F464A;
    //         @import url('https://fonts.googleapis.com/css?family=Lexend');
    //         font-family: 'Lexend', sans-serif;
    //         font-size: 0.875rem;
    //         font-weight: 400;
    //         line-height: 1.75rem;

    //     }
    // }

}
